<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rochester&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Rochester&display=swap" rel="stylesheet">
</head>
    <body>
        <div class="left">
            <div class="main__left-content">
                <div class="left-content__header">
                    <div class="left-content__name">Daria Kostiuk 124-19-2</div>
                </div>
                <div class="left-content__labels">
                    <div class="left-content__title">
                        We create your space better
                    </div>
                    <div class="left-content__subtitle">
                        Our team creates comfortable spaces for our clients. We’ve been designing your everyday life and work through great ideas since 1999.
                    </div>
                </div>
                <a href="https://dkostuk.herokuapp.com/portfolio?name=daria" class="left-content__get-started">
                    Portfolio
                </a>
            </div>
            <div class="main__right-content"></div>
        </div>
        <div class="footer">
            <div class="footer__content">
                <div class="footer__about">About studio</div>
                <div class="footer__description">Interiart is an award-winning architecture and interior design practice based in NYC.
                    We work internationally on projects of residential & commercial interior design that require a creative approach.
                    Our talented and experienced designers leverage their knowledge and expertise to create unique and comfortable interiors for you.
                </div>
            </div>
        </div>
    </body>

</html>