<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/styles/styles2.css}" rel="stylesheet">
    <title>Portfolio</title>
</head>
<body>
    <div class="portfolio">
        <div class="portfolio__content">
            <div class="portfolio__title">
                <div class="first">Our</div>
                <div class="second">Portfolio</div>
            </div>
            <div class="portfolio__images-container">
                <div class="portfolio__img image1"></div>
                <div class="portfolio__img image2"></div>
                <div class="portfolio__img image3"></div>
                <div class="portfolio__img image4"></div>
                <div class="portfolio__img image5"></div>
                <div class="portfolio__img image6"></div>
                <div class="portfolio__img image7"></div>
                <div class="portfolio__img image8"></div>

            </div>
        </div>
    </div>
</body>
</html>